* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 222, 202);
}
ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}
h1 {
  font-size: 0;
}
h2{
  font-size: 1.0em;
}
h3{
  font-size: 1.0em;
}
a:visited, a:link, a:active { 
  text-decoration: none; 
  color: #1a90cb; 
 }
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
      scroll-behavior: auto;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  height: 115px;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.head-text {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  font-size: 22px;
  padding-right: 70px;
  padding-top: 60px;
  color: #1a90cb;
}
.head-subtext:hover {
  text-decoration: underline;
  font-weight: 500;
}

.topic {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.topicImage {
  display: flex;
  position: relative;
  width: 100%;
}
.web {
  position: absolute;
  top: 70%;
  left: 25%;
  padding-left: 13%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: rgb(78, 166, 238);
  font-family: "Libre Baskerville", serif;
}
.professional {
  color: rgb(78, 166, 238);
}
.links {
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-family: "Libre Baskerville", serif;
}

.topics {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: "Libre Baskerville", serif;
  color: rgb(109, 117, 109);
  font-size: 66px;
}
.descriptions {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Libre Baskerville", serif;
  color: rgb(73, 73, 73);
  font-size: 22px;

}
.service-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.serv {
  display: grid;
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 75px;
}

.serv:hover {
  border-radius: 0%;
  height: 320px;
  width: 320px;
  transition: height 0.2s, width 0.2s, border-radius 0.2s;
}

.pic-name {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 26px;
}

.contact{
  height: 45px;
}
.footer {
  justify-content: space-evenly;
  background-color: #f4f4f4;
  width: 100%;
  padding-bottom: 50px;
  
}
.contacts{
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 946px) {
  .head-text {
    padding-top: 50px;
    font-size: 26px;
  }
  .topics{
    font-size: 44px;
  }
}
@media screen and (max-width: 946px) {
  .web {
    font-size: 30px;
  }
  .professional {
    font-size: 36px;
  }
  .services {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 20px;
  }
  .head-text {
    padding-top: 40px;
    font-size: 20px;
  }
  .service-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .links {
    font-size: 20px;
  }

  .logo {
    height: 60px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 750px){
  .head-text{
    font-size:18px;
  }
}
@media screen and (max-width: 604px) {
  .service-images {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 488px) {
  .head-text {
    padding-top: 40px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 15px;
  }
  .logo {
    height: 40px;
    padding-left: 5px;
  }
  .service-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .web {
    font-size: 20px;
  }
  .professional {
    font-size: 24px;
  }
  .links {
    font-size: 20px;
  }
  .logo {
    height: 60px;
    padding-left: 20px;
  }
  .topics{
    font-size: 36px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .descriptions {
    font-size: 14px;
  }
}
@media screen and (max-width: 328px) {
  .web {
    font-size: 16px;
  }
  .professional {
    font-size: 18px;
  }
  .serv {
    width: 225px;
    height: 225px;
  }
  .serv:hover {
    border-radius: 0%;
    height: 225px;
    width: 225px;
  }
  .head-text{
    padding-right: 0px;
    font-size: 8px;
  }
  .logo{
    height: 35px;
  }
}
@media screen and (max-width: 240px){
  .serv{
    height: 180px;
    width: 180px;
  }
}